{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="two wide column"></div>
        <div class="three wide column">
            <span id="artist" class="ui header"></span>
        </div>
    </div>
    <div class="row">
        <div class="two wide column"></div>
            <div class="twelve wide column">
                <div>
                    <span id="song" style="font-size:55px" class="ui header">Awaiting good vibes....</span>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="two wide column"></div>
        <div class="five wide column">
            <div>
                <span id="twitter-username" class="ui header" style="display:none">
                </span>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide center aligned column">
            <p id="para" style="font-size:22px;line-height:2">
                Hey, I'm MusicBot. You can send me your song requests to my Twitter @PlayMeThisSong from SoundCloud
                and I'll do my best to play them for you.
                <br>Enjoy your stay and vibe out....
            </p>
        </div>
    </div>

	{% if current_user.is_authenticated %}
      <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
      <script>
        var loaded = false;
        var namespace = '/musicroom';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


        socket.on('connect', function() {
          console.log("Connected");
          socket.emit('joined', {data: 'I\'m connected!'});
        });

        socket.on('message', function(data) {
            console.log(data);
            console.log("ok");
        });

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('d33b6f10de4245953937', {
          cluster: 'us2',
          encrypted: true
        });

        var p = $("#para");
        var song_span = $("#song");
        var artist_span = $("#artist");
        var details = $("#artist, #song, #twitter-username");
        var body = $("#body");
        var twitter = $("#twitter-username");

        function stylize() {
            details.css({
                "color": "white",
                "text-align": "center",
                "display": "inline-block",
                "background-color": "rgba(0,0,0,.7)",
                "padding": "4px 10px 4px 10px"
            });
            body.css({
                "background-repeat": "no-repeat",
                "background-position": "center",
                "background-size": "cover",
                "min-height": "100%",
                "padding-top": "20px",
                "padding-bottom": "20px",
                "margin": "0px"
            });
        }

        function fadeIt(song_name, artist_name, artwork_url, twitter_username, loaded) {
            details.fadeTo(800, 0, function(){
                if (loaded === false){
                    stylize();
                }
                body.css('background-image', artwork_url);
                if (twitter_username !== undefined){
                    twitter.html('Requested by ' + twitter_username + ' via <i id="twitter-icon" class="twitter icon"></i>')
                }
                else {
                    twitter.html('Playing via autoplaylist');
                }
                song_span.html(song_name);
                artist_span.html(artist_name);
            }).delay(1000).fadeTo(1500, 1);
        }

        var channel = pusher.subscribe('my-channel');

        channel.bind('new_song', function(data) {
            console.log(JSON.stringify(data))
            var artwork_url = JSON.stringify(data.message.song_artwork_url);
            var artist_name = JSON.stringify(data.message.song_artist).replace(/\"/g, "");
            var song_name = JSON.stringify(data.message.song_name).replace(/\"/g, "");
            var song_url = JSON.stringify(data.message.song_url);
            var twitter_username = JSON.stringify(data.message.song_requester);
            var song_artwork_url = 'url(' + artwork_url + ')';
            if (loaded === false){
                // Change the two text spans to correct style and hide p element
                p.fadeOut();
                fadeIt(song_name, artist_name, song_artwork_url, twitter_username, loaded);
                loaded = true;
            }
            else {
                fadeIt(song_name, artist_name, song_artwork_url, twitter_username, loaded);
            }
        });

      </script>
	{% endif %}
</div>
{% endblock %}
