{% extends "layout.html" %}

{% block content %}
	<div class="ui two column centered grid">
        <div class="row"></div>
        <h1 class="ui header">Webhook setup</h1>
        <div class="row">
        {% if verified %}
            <div class="ui huge green label">You are already authorized</div>
        {% else %}
            <div class="ui huge red label">You are not yet authorized</div>
        {% endif %}
        </div>
        <div class="ui fourteen wide mobile ten wide computer column">
{#            <div class="ui twelve wide mobile nine wide computer column">#}
                <p style="font-size:20px">Use the following webhook token (or link below) to send a GET request to the <code>/webhook</code> endpoint
                    with a <code>verify_token</code> argument containing the token itself in order to be verified
                    to send info to the webhook.
                </p>
{#            </div>#}
        </div>
        <h3 id="token-header" class="ui header">Your Token: {{ token }}</h3>
        <div class="ui center aligned twelve column mobile eight wide computer column">
            <h2 class="ui header" style="font-size: 3vw"><a href="{{ request.url_root + 'webhook?verify_token=' + token }}">Click here to automatically activate your webhook</a></h2>
        </div>
        <br>
    </div>

{% endblock %}