{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row"></div>
    <div class="row"></div>
    {% if not current_user.is_authenticated %}
        <div class="row">
            <div class="two wide column"></div>
            <div class="seven wide mobile five wide computer column">
                <div class="ui header" style="font-size:40px">Welcome to MusicBot</div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
        {#        <div class="four wide column"></div>#}
            <div class="fourteen wide mobile eight wide computer center aligned centered column">
                <p id="intro" style="font-size:22px;line-height:2">
                    In order to get started, you must first make an account and sign in. Once that's done, head to the setup
                    page and you can quickly authorize your machine to use the webhook. The MusicRoom page is where all
                    songs will be displayed for you to see.
                    <br>Enjoy your stay and vibe out....
                </p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="two wide column"></div>
            <div class="seven wide mobile five wide computer column">
                <span id="artist" class="ui header"></span>
            </div>
        </div>
        <div class="row">
            <div class="two wide column"></div>
            <div class="twelve wide mobile twelve wide computer column">
                <div>
                    <span id="song" style="font-size:40px" class="ui header">Awaiting good vibes....</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="two wide column"></div>
            <div class="eight wide mobile six wide computer column">
                <div>
                    <span id="twitter-username" class="ui header" style="display:none">
                    </span>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
    {#        <div class="four wide column"></div>#}
            <div class="fourteen wide mobile eight wide computer center aligned centered column">
                <p id="para" style="font-size:22px;line-height:2">
                    Hey, I'm MusicBot. You can send me your song requests to my Twitter @PlayMeThisSong from SoundCloud
                    and I'll do my best to play them for you.
                    <br>Enjoy your stay and vibe out....
                </p>
            </div>
        </div>
    {#    <div class="ui center aligned segment">#}
    {#            <span id="song-link-span" style="position: fixed; bottom: 6vh; display: none">#}
    {#                <a id="song-link" href="#">Artist SoundCloud <i class="large soundcloud icon"></i></a>#}
    {#            </span>#}
    {#    </div>#}
        <div id="sc-button-div" style="width: 100%;align-items: center;justify-content: center;position: fixed; bottom:12vh;display: none">
            <form id="sc-link" action="" target="_blank">
                <button class="small ui orange compact button" style="text-align: center"><i class="large soundcloud icon"></i>
                Artist Soundcloud
            </button>
            </form>
        </div>
        </div>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>
        <script>
        var loaded = false;

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('d33b6f10de4245953937', {
          cluster: 'us2',
          encrypted: true
        });

        var p = $("#para");
        var song_span = $("#song");
        var artist_span = $("#artist");
        var details = $("#artist, #song, #twitter-username");
        var body = $("#body");
        var twitter = $("#twitter-username");
        var song_link = $("#song-link");
        var song_link_span = $("#song-link-span");
        var sc_button_div = $("#sc-button-div");
        var sc_link = $("#sc-link");


        function stylize() {
            details.css({
                "color": "white",
                "text-align": "center",
                "display": "inline-block",
                "background-color": "rgba(0,0,0,.7)",
                "padding": "4px 10px 4px 10px"
            });
            body.css({
                "background-repeat": "no-repeat",
                "background-position": "center",
                "background-size": "cover",
                "min-height": "100%",
                "padding-top": "20px",
                "padding-bottom": "20px",
                "margin": "0px"
            });
            sc_button_div.css({
                "display": "flex",
                "color": "white"
            });
            sc_link.css({
                "color": "black"
            });
        }

        function fadeIt(song_name, artist_name, artwork_url, twitter_username, song_url,loaded) {
            details.fadeTo(800, 0, function(){
                if (loaded === false){
                    stylize();
                }
                body.css('background-image', artwork_url);
                if (twitter_username !== undefined){
                    twitter.html('Requested by ' + twitter_username + ' via <i id="twitter-icon" class="twitter icon"></i>')
                }
                else {
                    twitter.html('Playing via autoplaylist');
                }
                sc_link.attr('action', song_url);
                song_span.html(song_name);
                artist_span.html(artist_name);
            }).delay(1000).fadeTo(1500, 1);
        }

        var channel = pusher.subscribe('my-channel');

        channel.bind('new_song', function(data) {
            console.log(JSON.stringify(data));
            var artwork_url = JSON.stringify(data.message.song_artwork_url);
            var artist_name = JSON.stringify(data.message.song_artist).replace(/\"/g, "");
            var song_name = JSON.stringify(data.message.song_name).replace(/\"/g, "");
            var song_url = JSON.stringify(data.message.song_url).replace(/\"/g, "");
            var twitter_username = JSON.stringify(data.message.song_requester);
            if (twitter_username !== undefined){
                twitter_username = twitter_username.replace(/\"/g, "");
            }
            var song_artwork_url = 'url(' + artwork_url + ')';
            if (loaded === false){
                // Change the two text spans to correct style and hide p element
                p.fadeOut();
                fadeIt(song_name, artist_name, song_artwork_url, twitter_username, song_url, loaded);
                loaded = true;
            }
            else {
                fadeIt(song_name, artist_name, song_artwork_url, twitter_username, song_url, loaded);
            }
        });

        </script>
	{% endif %}
</div>
{% endblock %}
